<div th:replace="fragments/beforeBody.html"></div>
<p>The main goal of Holygram is to provide a service to connect
	exorcist with their client in the most simple way.</p>

<blockquote class="blockquote">
	<p class="mb-0">Since I use Holygram my company tripled size.</p>
	<footer class="blockquote-footer"> Tom Jefferson </footer>
</blockquote>

<blockquote class="blockquote">
	<p class="mb-0">Blabalbsalbal</p>
	<footer class="blockquote-footer"> Famous people </footer>
</blockquote>
<div th:replace="fragments/afterBody.html"></div>