<div th:replace="fragments/beforeBody.html"></div>
<h2 th:text="${name}">Nom</h2>

<div class="row">
	<div class="col text-center p-5">
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="row">
			<div class="col" th:text="${canton}">Canton</div>
		</div>
		<div th:each="service: ${services}">
			<hr>
			<div class="row">
				<div class="col" th:text="${service.getDemon().getReligion().getName()}">Religion unavailable</div>
				<div class="col" th:text="${service.getDemon().getName()}">Demon unavailable</div>
				<div class="col" th:text="${service.getPrice()}">Price unavailable</div>
			</div>
		</div> 
	</div>
	<div class="col" th:text="${description}">description not avaialable</div>
</div>

<div th:replace="fragments/afterBody.html"></div>