<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta th:replace="fragments/head.html"></meta>
</head>
<body>
<nav class="d-block" th:with="menu=${'search'},isConnected=${true}" th:insert="fragments/nav.html"></nav>
<div class="container p-4">
	<div style="padding: 30px">
		<div class="card">
			<div class="card-header">
				<h2>Search by demon</h2>
			</div>
			<div class="card-body">
				<div class="card-text">
					<form method="GET" id="form-search" action="/search/process">
						<div class="form-group row">
							<label for="input_demon"
								class="col-md-2 col-form-label col-form-label-lg">Demon</label>
							<div class="col-md-10">
								<select id="input_demon" name="input_demon"
									class="form-control form-control-lg" required>
									<option th:each="demon: ${demons}" th:value="${demon.id}"
										th:text="${demon.name}" />
								</select>
							</div>
						</div>
	
						<div class="form-group row">
							<label for="input_renown"
								class="col-md-2 col-form-label col-form-label-lg">Minimal
								renown</label>
							<div class="col-md-10">
								<input type="range" class="form-control form-control-lg"
									id="input_renown" name="input_renown" min="0" max="5" required>
							</div>
						</div>
						<blockquote class="blockquote mb-0">
						<button type="submit" class="btn btn-primary btn-lg" id="btn_submit">
							Search!</button>
						</blockquote>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>