<div th:replace="fragments/beforeBody.html"></div>
<h2>NAME Firstname</h2>
<div class="row">
	<div class="col text-center p-5">
		<img width="200px" height="200px"
			style="border: 1px solid black; border-radius: 10px">
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="row">
			<div class="col">Adress</div>
		</div>
		<div class="row">
			<div class="col">Town</div>
			<div class="col">Country</div>
		</div>
		<hr>
		<div class="row">
			<div class="col">Religion 1</div>
			<div class="col">Demon 2</div>
			<div class="col">Price</div>
		</div>
		<hr>
		<div class="row">
			<div class="col">Religion 2</div>
			<div class="col">Demon 4</div>
			<div class="col">Price</div>
		</div>
		<hr>
		<div class="row">
			<div class="col">Religion 3</div>
			<div class="col">Demon 4</div>
			<div class="col">Prix</div>
		</div>
	</div>
	<div class="col">Lorem ipsum dolor sit amet, consectetur
		adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
		magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
		ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
		irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
		fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
		sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
</div>

<div th:replace="fragments/afterBody.html"></div>