<nav class="d-block">
	<h1 id="logo" class="display-2 text-center p-4">Holygram</h1>
	<ul class="nav nav-tabs justify-content-center">
		<li class="nav-item"><a class="nav-link active" th:href="@{/}">Home</a>
		</li>
		<li class="nav-item"><a class="nav-link" th:href="@{/find}">Find
				an exorcist</a></li>
		<!-- TODO : Show when connected -->
		<li class="nav-item dropdown"><a class="nav-link dropdown-toggle"
			data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
			aria-expanded="false">USERNAME</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Profil</a> <a
					class="dropdown-item" href="#">Disconect</a>
			</div></li>
		<!-- TODO : Show when disconected -->
		<li class="nav-item dropdown"><a class="nav-link dropdown-toggle"
			data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
			aria-expanded="false">Account</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Create</a> <a
					class="dropdown-item" href="#">Log in</a>
			</div></li>
	</ul>
</nav>